/*
	Your Theme
*/

.rw_title {
	font-size: 19px;
}

/*
	DON'T EDIT THE CODE BELOW 
*/
.rw_widget,
.rw_widget * {
	margin: 0;
	padding: 0;
}
	.rw_widget li {
		list-style: none;
	}
	.rw_widget li a {
		display: block;
	}
